{#<!doctype html>#}
<html lang="en">
  <head>
  	<title>Extracted Text</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/viewregusers/css/style.css">

	</head>
  <body>
  <header>
    <div style="background-color: darkblue; color: white; padding: 10px;">
        <h1 style="color: white; display: flex; justify-content: space-between; align-items: center;">
            <b>EASY LEARN</b>
            <a href="/myapp/home/" style="color: white; text-decoration: none;">
                <button style="background-color: white; padding: 5px 10px; font-size: 12px; color: blue" class="btn btn-primary"><b>Logout</b></button>
            </a>
        </h1>
    </div>
</header>
     <br>
     <br>
  <center>
{#      <h3><b>EXTRACTED TEXT</b></h3>#}
      <br>
      <br>
    <form action="/submit-text" method="post">
      <tr>
          <td style="color: black"><b>Extracted Text</b></td><br><br>
    <td>{{ s }}</td><br><br>
  </tr>
      <br>
        <form action="/myapp/keywordandwiki1/" method="post">
        <a href="/myapp/keywordandwiki1/">KEYWORD EXTRACTION AND WIKI CONTENT EXTRACTION</a>
{#        <a href="/myapp/keywordandwiki1/">KEYWORD EXTRACTION AND WIKI CONTENT EXTRACTION</a>#}
            </form>
        <br>
        <a href="/myapp/summary1/">TEXT SUMMARIZATION</a><br>
        <a href="qa1.html/">QUESTION AND ANSWER GENERATION</a>

    </form>
</center>
	<script src="/static/viewregusers/js/jquery.min.js"></script>
  <script src="/static/viewregusers/js/popper.js"></script>
  <script src="/static/viewregusers/js/bootstrap.min.js"></script>
  <script src="/static/viewregusers/js/main.js"></script>

	</body>
</html>

