{#<!doctype html>#}
<html lang="en">
  <head>
    <title>Extracted Keyword</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/viewregusers/css/style.css">




  </head>
  <body>
    <header>
    <div style="background-color: darkblue; color: white; padding: 10px;">
        <h1 style="color: white; display: flex; justify-content: space-between; align-items: center;">
            <b>EASY LEARN</b>
            <a href="/myapp/home/" style="color: white; text-decoration: none;">
                <button style="background-color: white; padding: 5px 10px; font-size: 12px; color: blue" class="btn btn-primary"><b>Logout</b></button>
            </a>
        </h1>
    </div>
</header>

    <center>
{#      <h3><b>EXTRACTED TEXT</b></h3>#}
      <br>
          <form action="/submit-text" method="post">

      <table>
          <tr>
            <td style="color: black"><b><center><u>Keyword Extraction and Wiki Content Extraction<br><br></u></center></b></td>
          </tr>
          <tr>
            <th style="color: blue"><center><u>Keywords:<br></u></center></th>
          </tr>
      </table>

      <div class="table-wrap" style="height: 200px; overflow-y: scroll;">

        <table class="table table-striped">
{#          <tr>#}
{#            <td style="color: black"><b><center><u>Keyword Extraction and Wiki Content Extraction<br><br></u></center></b></td>#}
{#          </tr>#}

          {% for i in kw %}
          <tr>
            <td><center>{{ i }}</center></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <table>
          <tr>
            <th  style="color: blue"><center><u><br><br>Contents:<br></u></center></th>
          </tr>
      </table>
      <div class="table-wrap" style="height: 210px; overflow-y: scroll;">
      <table bgcolor="#f5f5f5">
          {% for i in wc %}
          <tr>
            <td><center>{{ i }}</center></td>
          </tr>
          <tr>
            <td><br></td> <!-- Line gap added here -->
          </tr>
          {% endfor %}
        </table>

      </div>

      </form>

      <div class="text-center">
        <form action="/myapp/generatepdf1/" method="post" style="display: inline-block;" class="d-inline-block">
          {% csrf_token %}
          <input type="hidden" name="pdf1"/>
          <input type="submit" class="btn btn-primary mr-2" value="EXPORT TO PDF"/>
        </form>

        <form action="/myapp/generatedocument1/" method="post" style="display: inline-block;" class="d-inline-block">
          {% csrf_token %}
          <input type="hidden" name="document1"/>
          <input type="submit" class="btn btn-primary mr-2" value="EXPORT TO DOCUMENT"/>
        </form>

        <form action="/myapp/generatevoice1/" method="post" style="display: inline-block;" class="d-inline-block">
          {% csrf_token %}
          <input type="hidden" name="voice1"/>
          <input type="submit" class="btn btn-primary mr-2" value="EXPORT TO VOICE"/>
        </form>
      </div>

    </center>

    <script src="/static/viewregusers/js/jquery.min.js"></script>
    <script src="/static/viewregusers/js/popper.js"></script>
    <script src="/static/viewregusers/js/bootstrap.min.js"></script>
    <script src="/static/viewregusers/js/main.js"></script>

  </body>
</html>
