{#<!doctype html>#}
<html lang="en">
  <head>
  	<title>Upload Documents</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/viewregusers/css/style.css">

      <style>
		.print-animation span {
			display: inline-block;
			animation: print-animation 1s ease-in-out forwards;
		}

		@keyframes print-animation {
			from {
				opacity: 0;
				transform: translateY(-10px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
	</style>

	</head>
  <body>
  <header>
    <div style="background-color: darkblue; color: white; padding: 10px;">
        <h1 style="color: white; display: flex; justify-content: space-between; align-items: center;">
            <b>EASY LEARN</b>
            <a href="/myapp/home/" style="color: white; text-decoration: none;">
                <button style="background-color: white; padding: 5px 10px; font-size: 12px; color: blue" class="btn btn-primary"><b>Logout</b></button>
            </a>
        </h1>
    </div>
</header>
     <br>


   <center>
  <div>
      <p style="color: mediumvioletred">
          <b>By uploading a document, you can generate:</b>
      </p>
  </div>
  <div class="print-animation">
        <span style="color: deeppink">Extracted text</span><br>
		<span style="color: deeppink">Keyword extraction and display contents from Wikipedia</span><br>
		<span style="color: deeppink">Text summarization</span><br>
		<span style="color: deeppink">Question and answer generation</span>
	</div>
  </center>

  <hr>

  <section class="ftco-section">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
                    <form method="post" action="/myapp/uploaddocument_post/" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="document">Select a document to upload:</label>
  <input type="file" id="fileField" name="document" required><br><br>
  <button type="submit"  class="btn btn-outline-info">Extract to Text</button><br><br>
</form>

{#{% if text %}#}
{#  <p>Text extracted from the document:</p>#}
{#  <pre>{{ text }}</pre>#}
{#{% endif %}#}
{##}
{#                    <button onclick="extractText()">Extract to Text</button>#}
				</div>
			</div>
        </div>
	</section>



	<script src="/static/viewregusers/js/jquery.min.js"></script>
  <script src="/static/viewregusers/js/popper.js"></script>
  <script src="/static/viewregusers/js/bootstrap.min.js"></script>
  <script src="/static/viewregusers/js/main.js"></script>

	</body>
</html>

