<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile View</title>
</head>
<body>
<table>
    <tr>
        <th colspan="2" align="center"><h3>VIEW PROFILE</h3></th>
    </tr>
    <tr>
        <th colspan="2"><h3>Hi, {{ data.fname }}</h3></th>
    </tr>
    <tr>
        <th>First Name</th>
        <td>{{ data.fname }}</td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td>{{ data.lname }}</td>
    </tr>
    <tr>
        <th>Date of Birth</th>
        <td>{{ data.dob }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ data.email }}</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>{{ data.phone }}</td>
    </tr>

</table>
</body>
</html>