<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Questions and Answers</title>
</head>

<body>
<form action="" method="get">
<table width="503" border="1">
  <tr>
    <td width="167">Extracted Text </td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="2">Questions and Answers </td>
    <td width="90">Question</td>
    <td width="95">Answer</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="center">
      <input type="submit" name="Submit" value="Export to PDF" />
    </div></td>
    <td><div align="center">
      <input type="submit" name="Submit2" value="Export to Document" />
    </div></td>
    <td><div align="center">
      <input type="submit" name="Submit3" value="Export to Voice" />
    </div></td>
  </tr>
</table>

</form>
</body>
</html>
