{#<!doctype html>#}
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
  	<title>Send Complaint</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/viewregusers/css/style.css">

      <style>
		.print-animation span {
			display: inline-block;
			animation: print-animation 1s ease-in-out forwards;
		}

		@keyframes print-animation {
			from {
				opacity: 0;
				transform: translateY(-10px);
			}
			to {
				opacity: 1;
				transform: translateY(0);
			}
		}
	</style>


	</head>
  <body>
  <header>
         <div style="background-color: darkblue; color: white; padding: 10px;">
             <h1 style="color: white"><b>EASY LEARN</b></h1>
         </div>
     </header>
     <br>
     <br>

  <center>
{#      <h3><b>UPLOAD TEXT</b></h3>#}
      <br>
      <br>
      <center>
          <div class="print-animation">
		<span style="color: blue"><b>Enter Message:</b></span><br>

	    </div>
      </center>
      <br>
      <hr>
      <br>

    <form action="/myapp/sendcomplaint_post/" method="post">
        {% csrf_token %}
      <tr>
{#    <td width="140">Enter Message:</td><br><br>#}

    <td width="1"><textarea style="width: 90%; height: 190px; resize: both;" name="complaint" placeholder="Enter message here" contenteditable="true" spellcheck="true"></textarea></td><br><br>

          <button type="submit" class="btn btn-outline-info">Send</button><br><br>

  </tr>
      <br>
    </form>




  </center>
	<script src="/static/viewregusers/js/jquery.min.js"></script>
  <script src="/static/viewregusers/js/popper.js"></script>
  <script src="/static/viewregusers/js/bootstrap.min.js"></script>
  <script src="/static/viewregusers/js/main.js"></script>

	</body>
</html>

