{#<!doctype html>#}
<html lang="en">
  <head>
  	<title>Extracted Text</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/viewregusers/css/style.css">

	</head>


  <body>
  <header>
         <div style="background-color: darkblue; color: white; padding: 10px;">
             <h1 style="color: white"><b>EASY LEARN</b></h1>
         </div>
     </header>
     <br>
     <br>
  <center>
{#      <h3><b>EXTRACTED TEXT</b></h3>#}
      <br>
      <table>
          <tr>

              <td style="color: black"><b><u>Summary</u></b></td><br><br>

          </tr>
      </table>
    <form action="/submit-text" method="post">
    <table class="table table-striped">

        <br>
        {% for i in summarized %}
        <tr>
            <td style="font-size: 16px">{{ i }}</td>
        </tr>
        {% endfor %}
    <br>
    </table>
    </form>
  <br><br><br>
<div class="text-center">
 <form style="display:inline-block;" action="/myapp/generatepdf2/" method="post" class="d-inline-block">
        {% csrf_token %}
        <input type="hidden" name="pdf2"/>
        <input type="submit" class="btn btn-primary mr-2" value="EXPORT TO PDF"/>
 </form>

 <form style="display:inline-block;" action="/myapp/generatedocument2/" method="post" class="d-inline-block">
        {% csrf_token %}
        <input type="hidden" name="document2"/>
        <input type="submit" class="btn btn-primary mr-2" value="EXPORT TO DOCUMENT"/>
 </form>

 <form action="/myapp/generatevoice2/" method="post" class="d-inline-block">
        {% csrf_token %}
        <input type="hidden" name="voice2"/>
        <input type="submit" class="btn btn-primary mr-2" value="EXPORT TO VOICE"/>

 </form>
</div>
</center>
	<script src="/static/viewregusers/js/jquery.min.js"></script>
  <script src="/static/viewregusers/js/popper.js"></script>
  <script src="/static/viewregusers/js/bootstrap.min.js"></script>
  <script src="/static/viewregusers/js/main.js"></script>

	</body>
</html>

