<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Summary</title>
</head>

<body>
<form action="" method="get">
<table width="454" border="1">
  <tr>
    <td width="157" height="48">Extracted Text </td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td height="51">Summary</td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td height="38"><div align="center">
      <input type="submit" name="Submit" value="Export to PDF" />
    </div></td>
    <td width="119"><div align="center">
      <input type="submit" name="Submit2" value="Export to Document" />
    </div></td>
    <td width="156"><div align="center">
      <input type="submit" name="Submit3" value="Export to Voice" />
    </div></td>
  </tr>
</table>

</form>
</body>
</html>
