{% extends "Load.html" %}
{% block body %}

<body>

<form action="/myapp/search_post/" method="post">
{% csrf_token %}
<div style="overflow-y: scroll; height: 500px;">
<table class="table">
    <thead class="thead-primary" > <tr>
    <th colspan="2">Date</th>
    <th width="37"><input type="date" name="textfield" /></th>
    <th width="66">to</th>
    <th width="37"><input type="date" name="textfield2" /></th>
    <th width="32"><input type="submit" name="Submit3" value="Search" /></th>
  </tr>
    </thead>
 <tbody>
  <tr>
      <td width="22"><b><u>Sl no: </u></b></td>
    <td width="29"><b><u>Date</u></b></td>
      <td><b>First Name</b></td>
      <td><b>Last Name</b></td>
      <td><b>Compliant</b></td>
      <td><b>Status</b></td>
      <td><b>Reply</b></td>
  </tr>
  <tbody>
  {% for i in datas %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.date }}</td>
    <td>{{ i.USERID.fname }}</td>
    <td>{{ i.USERID.lname }}</td>
    <td>{{ i.complaint }}</td>
    <td>{{ i.status }}</td>
    <td>{{ i.reply }}</td>
    <td>&nbsp;</td>

    <td><div align="center">
{#      <input type="submit" name="reply" value="Send Reply" />#}
        <a class="btn btn-primary" href="/myapp/sendreply/{{ i.id }}">Send Reply</a>
    </div></td>
  </tr>
  {% endfor %}
    </tbody>
</table>
</div>
</form>
</body>
{% endblock %}