{#<!doctype html>#}
<html lang="en">
  <head>
  	<title>View Reply</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/viewregusers/css/style.css">


	</head>
	 <body>
     <header>
         <div style="background-color: darkblue; color: white; padding: 10px;">
             <h1 style="color: white"><b>EASY LEARN</b></h1>
         </div>
     </header>
     <br>
     <br>

    <h3><center><b>REPLY</b></center></h3>
    <br>
    <form action="" name="form1" method="post">
  <table class="table table-bordered">
    <tr>
      <th>Sl No.</th>
      <th>Date</th>
      <th>Complaint</th>
      <th>Reply</th>
    </tr>
      {% for i in datareply %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.complaint}}</td>
      <td>{{ i.reply }}</td>
    </tr>
      {% endfor %}
  </table>
</form>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>


	<script src="/static/viewregusers/js/jquery.min.js"></script>
  <script src="/static/viewregusers/js/popper.js"></script>
  <script src="/static/viewregusers/js/bootstrap.min.js"></script>
  <script src="/static/viewregusers/js/main.js"></script>

	</body>
</html>

