<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>View profile</title>
</head>

<body>
<form action="" method="get">
<table width="249" border="1">
  <tr>
    <td width="89">First Name </td>
    <td width="144">&nbsp;</td>
  </tr>
  <tr>
    <td>Last Name </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Date of Birth </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Phone Number </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right">
      <input type="submit" name="Submit" value="Edit" />
    </div></td>
    <td><input type="submit" name="Submit2" value="Save" /></td>
  </tr>
</table>

</form>
</body>
</html>
